* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: Arial, sans-serif;
}

#header_page {
    font-size: 36px;
    padding-left: 60px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 3px 5px 0px rgba(99, 98, 98, 0.75);
}



footer {
    margin-top: 20px;
    /* Ajusta este valor según el espacio que necesites */
}

.navbar {
    position: absolute;
    color: black;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    /* Distribuye los elementos con espacio entre ellos */
    align-items: center;
    /* Alinea verticalmente los elementos */
    width: 50px;
    /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.navbar a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: black;
    display: flex;
    align-items: center;
    /* Alinea el texto verticalmente con el SVG */
}

.navbar a:hover {
    color: #e69500;
    scale: 1.05;
}

.navbar svg {
    height: 30px;
    /* Ajusta el tamaño del SVG para que no sea más alto que el texto */
    width: auto;
    /* Mantiene la proporción del SVG */
    margin-right: 15px;
    /* Espacio entre el SVG y el texto */
}

.text_titulo_app {
    color: black;
    padding-top: 50%;
}

.opciones {
    position: absolute;
    left: 350px;
    color: black;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
    /* Aumenta el espacio entre los elementos */
    align-items: center;
    width: 1000px;
    /* Ocupa un mayor ancho disponible */
}

.opciones a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: black;
    display: flex;
    align-items: center;
    margin-right: 0px;
    /* Aumenta el espacio entre las opciones */
}

.opciones a:hover {
    color: #e69500;
    scale: 1.05;
}

.opciones svg {
    height: 30px;
    width: auto;
    margin-right: 15px;
}




h2 {
    background-color: #e69500;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
}


.text_project,
.text_analysis_prep,
.text_characteristic,
.opcionmenu {
    list-style: none;
    background-color: #e69500;
    font-size: 1rem;
    padding: 0.5rem;
}

#botonTEST{
    height: 40px;
}

#botonTEST:hover {
    background-image: url("./iconos/SHOWCURRENT.png"); /* Imagen al hacer hover */
}

/* Menú lateral */
#div-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #e69500;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 8px 8px 0;
    padding: 16px;
    font-size: 1rem;
    overflow-y: auto;
    transition: all 0.3s ease;
}

#div_IU_test {
    display: none; /* Ocultamos el modal por defecto */
    position: fixed; /* Fijamos la posición */
    margin-top: 100px;
    margin-left: 175px;
    background-color: white; /* Fondo blanco */
    padding: 20px; /* Espaciado */
    z-index: 1000; /* Asegura que el modal esté por encima del contenido */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.darkmode #div_IU_test {
    display: none; /* Ocultamos el modal por defecto */
    position: fixed; /* Fijamos la posición */
    top: 50%; /* Centrado en la pantalla */
    left: 50%;
    transform: translate(-50%, -50%); /* Para centrarlo correctamente */
    background-color: #2c2c2c; /* Fondo blanco */
    padding: 20px; /* Espaciado */
    z-index: 1000; /* Asegura que el modal esté por encima del contenido */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-btn {
    cursor: pointer;
    height: 30px;
}

.menu-btn:hover {
    color: #e69500;
    scale: 1.15;
}

#botonAPI {
    cursor: pointer;
    height: 35px;
    padding-left: 20px;
}

/* Al pasar el ratón sobre el contenedor conjuntoAPI */
.conjuntoAPI:hover .path-4,
.conjuntoAPI:hover .path-5,
.conjuntoAPI:hover .path-6 {
    fill: #e69500;
    /* Cambia el color al que prefieras */
}


#div-menu .opcionmenu {
    padding: 12px 24px;
    text-align: left;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

#div-menu .opcionmenu:hover {
    color: black;
}

/* Seleccionador de idioma */
#languageSelect {
    appearance: none;
    background-color: #e69500;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

#languageSelect:hover {
    background-color: #e69500;
    scale: 1.05;
}

#languageSelect:active {
    scale: 0.95;
}

#languageSelect option {
    background-color: white;
    color: black;
    font-weight: normal;
}

/* Control de modo oscuro/claro */
.display {
    position: fixed;
    bottom: 1rem;
    /* Espacio desde la parte inferior */
    right: 1rem;
    /* Espacio desde la parte derecha */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-label {
    width: 50px;
    height: 30px;
    border-radius: 999px;
    background: #e69500;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    position: relative;
}

/*.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
                -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
}*/


/* Formularios */
.div_IU_form,
.div_IU_test {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.formulario {
    top: 20px;
    position: relative;
    left: 20px;
}

/* Fondo del formulario */
.contenidoForm {
    background: #e2e3e5;
    position: relative;
    z-index: 20;
    border-radius: 12px;
    width: 75%;
    height: 75%;
    margin: 5% auto;
    padding: 2rem;
    border: 1px solid #ccc;
    overflow-y: auto;
    scroll-behavior: smooth;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contenidoForm span[id^="div_error_"] {
    color: #d9534f;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-left: 5px;
}



/* Títulos y encabezados */
.class_titulo_form {
    height: 80px;
    background: #e69500;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilo para las etiquetas de los campos */
.contenidoForm label {
    display: block;          /* Hace que las etiquetas estén en bloque */
    font-size: 1rem;
    margin-bottom: 0.5rem;   /* Espacio debajo de la etiqueta */
    color: #333;
}

/* Estilo para los campos de entrada */
.contenidoForm input[type="text"],
.contenidoForm input[type="file"],
.contenidoForm textarea,
.contenidoForm select {
    display: block;          /* Asegura que los campos de entrada estén en bloques */
    padding: 0.8rem;
    margin: 0.8rem 0;        /* Espacio entre los campos */
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Efectos de hover/focus */
.contenidoForm input[type="text"]:focus,
.contenidoForm input[type="file"]:focus,
.contenidoForm textarea:focus,
.contenidoForm select:focus {
    border-color: #e69500;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.8);
}

/* Espaciado y diseño para los botones */
#div_boton {
    margin-top: 20px;        /* Espacio antes del botón */
    display: flex;
    justify-content: center; /* Centra el botón */
    align-items: center;     /* Centra verticalmente el botón */
}

/* Estilo para el botón */
#submit_button {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    background-color: #e69500;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;             /* Asegura que el botón ocupe todo el ancho disponible */
}

/* Hover para el botón */
#submit_button:hover {
    background-color: #e6b800;
    transform: translateY(-2px);
}




/* Estilo de la imagen dentro del botón */
#div_boton img {
    height: 25px;
    width: 25px;
    margin: 0; /* Elimina cualquier margen extra que pueda estar desplazando la imagen */
}

/* Enlaces dentro del formulario */
.contenidoForm a {
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contenidoForm a:hover {
    color: #e6b800;
}

/* Campos de error */
/* Solo cuando .errorcampo está presente en los campos */
/* Solo cuando .errorcampo está presente en los campos */
.contenidoForm input[type="text"].errorcampo,
.contenidoForm input[type="file"].errorcampo,
.contenidoForm select.errorcampo,
.contenidoForm textarea.errorcampo {
    border: 2px solid red;
    background-color: #fce8e8;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 5px;
}



.contenidoForm input[type="text"].exitocampo,
.contenidoForm input[type="file"].exitocampo,
.contenidoForm select.exitocampo,
.contenidoForm textarea.exitocampo {
    border: 2px solid green;
    background-color: #e8fce8;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 5px;
}

/* Espaciado y diseño del formulario */
#formulario {
    position: relative;
    padding: 1rem;
}

/* Estilo para los textos dentro del formulario */
#textoFormulario {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #333;
    display: block;
}

.toggle {
    display: none;
}

/* Modo oscuro */
.darkmode {
    background-color: #2c2c2c;
    color: #ffffff;
}

.darkmode #header_page {
    background-color: #2c2c2c;
}

.darkmode .menu-btn {
    color: #cfcfcf;
}

.darkmode .text_titulo_app {
    color: #cfcfcf;
}

.darkmode .path-1,
.darkmode .path-2,
.darkmode .path-3 {
    fill: #2c2c2c;
}

.darkmode .path-4,
.darkmode .path-5,
.darkmode .path-6 {
    fill: #cfcfcf;
}

.darkmode .conjuntoESTRUCTURAS:hover,
.darkmode .conjuntoESTRUCTURAS:hover svg {
    color: #e69500;
    /* Cambia el color del texto y el SVG */
    fill: #e69500;
    /* Cambia el color de relleno del SVG */
}


.conjuntoESTRUCTURAS:hover {
    color: #e69500;
}

.darkmode .menu-btn:hover {
    color: #e69500;
}

.darkmode a {
    color: #cfcfcf;
    /* Texto blanco en el modo oscuro */
    text-decoration: none;
    /* Elimina el subrayado */
}

/* Modo claro */
.lightmode {
    background-color: #ffffff;
    color: #000000;
}

.sun {
    color: #FFD600;
    opacity: 1;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17.5px;
    /* Ajusta el tamaño del sol */
    height: 17.5px;
    /* Ajusta el tamaño del sol */
    transform: translate(-50%, -50%);
    /* Centra el sol */
}

.moon {
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centra la luna */
}


/* Cuando el checkbox está marcado (modo oscuro) */
input[type="checkbox"]:checked+.display label .circle .sun {
    opacity: 0;
}


input[type="checkbox"]:checked+.display label .circle .moon {
    opacity: 1;
}

/* Estilos del círculo del interruptor */
.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    position: absolute;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
        -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    transition: all 0.3s ease;
}

/* Estilo cuando el checkbox está marcado */
input[type="checkbox"]:checked+.display label .circle {
    left: 100%;
    transform: translate(-110%, -50%);
    background: #2c2c2c;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
        -10px -10px 30px rgba(0, 0, 0, 0.5) inset;
}


/* Contenedor de las tablas */
#divTablasDatosEntrega {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.darkmode #divTablasDatosEntrega {
    margin: 20px;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Tabla general */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

/* Estilos para las celdas de las tablas */
th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-family: 'Arial', sans-serif;
}

/* Fondo de las cabeceras */
th {
    background-color: #e69500;
    color: white;
    font-weight: bold;
}

/* Estilo para las filas alternadas */
tr:nth-child() {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f0e9de;
}

/* Estilos específicos para las columnas */
.nombre-grupo {
    font-size: 16px;
}

.entrega,
.horas-totales,
.horas,
.nombre-integrante {
    font-size: 14px;
}

/* Espaciado entre tablas */
#salidaDatosEntrega,
#salidaDatosEntregaPersonas {
    margin-bottom: 20px;
}

/* Estilos para el formulario en modo oscuro */
.darkmode .contenidoForm {
    background: #2c2c2c;
    border: 3px solid #e69500;
    color: #f5f5f5; /* Color de texto claro */
    box-shadow: 0 4px 10px rgba(231, 149, 0, 0.2); /* Sombra naranja tenue */
}


.darkmode .contenidoForm label {
    color: #f5f5f5; /* Color de las etiquetas en blanco */
}

.darkmode .contenidoForm input[type="text"],
.darkmode .contenidoForm input[type="file"],
.darkmode .contenidoForm textarea,
.darkmode .contenidoForm select {
    background-color: #444444;
    border: 2px solid #666666;
    color: #f5f5f5;
}

.darkmode .contenidoForm input[type="text"]:focus,
.darkmode .contenidoForm input[type="file"]:focus,
.darkmode .contenidoForm textarea:focus,
.darkmode .contenidoForm select:focus {
    border-color: #e69500;
    outline: none;
    background-color: #555555;
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.8);
}

.darkmode #submit_button {
    background-color: #e69500;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.darkmode #submit_button:hover {
    background-color: #e6b800;
    transform: translateY(-2px);
}

.darkmode .class_titulo_form {
    background: #e69500;
    color: #f5f5f5;
}

/* Estilo de los botones y enlaces en el modo oscuro */
.darkmode .contenidoForm a {
    color: #ffcc00;
    transition: color 0.3s ease;
}

.darkmode .contenidoForm a:hover {
    color: #e6b800;
}

/* Estilo de los campos con error */
.darkmode .contenidoForm input[type="text"].errorcampo,
.darkmode .contenidoForm input[type="file"].errorcampo,
.darkmode .contenidoForm select.errorcampo,
.darkmode .contenidoForm textarea.errorcampo {
    border: 2px solid red;
    background-color: #3e3e3e;
    color: #f5f5f5;
}

.darkmode .contenidoForm input[type="text"].exitocampo,
.darkmode .contenidoForm input[type="file"].exitocampo,
.darkmode .contenidoForm select.exitocampo,
.darkmode .contenidoForm textarea.exitocampo {
    border: 2px solid green;
    background-color: #4e4e4e;
    color: #f5f5f5;
}

/* Fondo de las tablas en el modo oscuro */
.darkmode #divTablasDatosEntrega {
    background-color: #2c2c2c;
}


#error_action_modal{
    position: fixed;
    z-index: 9999; 
    display: none; 
    border: 3px solid; 
    border-radius: 10px; 
    background-color: white; 
    padding: 10px; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

#modal_action_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9998;
}